.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('https://www.utadeo.edu.co/sites/tadeo/files/collections/node/gallery/field_image/presentacion.de_.programas.nuevos.tadeistas.utadeo.1.jpg');
  background-size: cover;
  background-position: center;
}

.tarjeta {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 40px;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
}

button {
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #2980b9;
}

.link {
  margin-top: 15px;
  color: #00aaff;
  cursor: pointer;
}
